In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [2]:
df = pd.read_csv('carsales.csv')
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
3572,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
3573,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
3574,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
3575,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
3576,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [3]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [4]:
# ohe = OrdinalEncoder()
# df['name'] = ohe.fit_transform(df[['name']])
# df['fuel'] = ohe.fit_transform(df[['fuel']])
# df['seller_type'] = ohe.fit_transform(df[['seller_type']])
# df['transmission'] = ohe.fit_transform(df[['transmission']])

lbe = LabelEncoder()
df['owner'] = lbe.fit_transform(df['owner'])

df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,0
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,2
...,...,...,...,...,...,...,...,...
3572,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,2
3573,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,2
3574,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,2
3575,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,0
3576,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,0

In [5]:
X = df.drop(columns='owner')
y = df['owner']


X_train, X_test, y_train, y_test =train_test_split( X, y, test_size=0.2, random_state=42)
X_train

,name,year,selling_price,km_driven,fuel,seller_type,transmission
2011,Toyota Innova 2.5 V Diesel 7-seater,2014,1150000,135000,Diesel,Dealer,Manual
1108,Datsun GO Plus T Option BSIV,2017,375000,20000,Petrol,Individual,Manual
838,Hyundai Getz GLE,2007,110000,60000,Petrol,Individual,Manual
3382,Maruti Alto K10 VXI Optional,2014,285000,64000,Petrol,Dealer,Manual
871,Land Rover Discovery S 2.0 SD4,2018,4000000,68000,Petrol,Individual,Automatic
...,...,...,...,...,...,...,...
1130,Toyota Etios V,2013,415000,40771,Petrol,Dealer,Manual
1294,Tata Manza Aqua Quadrajet BS IV,2012,190000,120000,Diesel,Individual,Manual
860,Maruti Swift Dzire ZDI,2018,750000,50000,Diesel,Individual,Manual
3507,Maruti Swift Dzire VDI Optional,2017,720000,35000,Diesel,Individual,Manual
3174,Hyundai Accent Executive CNG,2012,185000,67000,CNG,Dealer,Manual

In [6]:
df['owner'].value_counts()

owner
0    2218
2     978
4     289
1      75
3      17
Name: count, dtype: int64

In [7]:
ohe = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
X_train_encode = ohe.fit_transform(X_train)
X_test_encode = ohe.transform(X_test)
X_train_encode

array([[1.236e+03, 2.000e+01, 3.220e+02, ..., 1.000e+00, 0.000e+00,
        1.000e+00],
       [9.400e+01, 2.300e+01, 1.520e+02, ..., 3.000e+00, 1.000e+00,
        1.000e+00],
       [3.700e+02, 1.300e+01, 4.100e+01, ..., 3.000e+00, 1.000e+00,
        1.000e+00],
       ...,
       [8.620e+02, 2.400e+01, 2.540e+02, ..., 1.000e+00, 1.000e+00,
        1.000e+00],
       [8.560e+02, 2.300e+01, 2.460e+02, ..., 1.000e+00, 1.000e+00,
        1.000e+00],
       [3.190e+02, 1.800e+01, 7.400e+01, ..., 0.000e+00, 0.000e+00,
        1.000e+00]], shape=(2861, 7))

In [8]:
st = MinMaxScaler()
X_train_scaled = st.fit_transform(X_train_encode)
X_test_scaled = st.transform(X_test_encode)
X_test_scaled

array([[ 0.58773946,  0.92307692,  0.27182045, ...,  1.        ,
         0.5       ,  1.        ],
       [ 0.67739464,  0.88461538,  0.48877805, ...,  1.        ,
         0.        ,  1.        ],
       [ 0.93793103,  0.84615385, -0.00249377, ...,  0.33333333,
         0.        ,  1.        ],
       ...,
       [ 0.53869732,  0.80769231, -0.00249377, ...,  1.        ,
         0.5       ,  1.        ],
       [ 0.53180077,  0.80769231,  0.10723192, ...,  1.        ,
         0.5       ,  1.        ],
       [ 0.71877395,  0.5       ,  0.09476309, ...,  1.        ,
         0.5       ,  1.        ]], shape=(716, 7))

In [9]:
# Option 2: Use SMOTE (Synthetic Minority Oversampling)
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=42)
X_trains, y_trains = sm.fit_resample(X_train_scaled, y_train)
y_trains.value_counts()

owner
0    1775
2    1775
1    1775
4    1775
3    1775
Name: count, dtype: int64

In [19]:
model = LogisticRegression(max_iter=500)
model.fit(X_trains, y_trains)

y_pred = model.predict(X_test_scaled)


accuracy_score(model.predict(X_trains), y_trains)

0.5716056338028169

In [20]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.63      0.71       443
           1       0.07      0.57      0.12        14
           2       0.42      0.22      0.29       197
           3       0.09      1.00      0.17         5
           4       0.18      0.32      0.23        57

    accuracy                           0.49       716
   macro avg       0.32      0.55      0.30       716
weighted avg       0.64      0.49      0.54       716

In [12]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[278,  32,  51,  44,  38],
       [  0,   8,   3,   0,   3],
       [ 54,  54,  46,   4,  39],
       [  0,   0,   0,   5,   0],
       [  4,  25,  10,   0,  18]])

In [13]:

from sklearn.svm import SVC

mode = SVC(kernel='rbf', gamma=10, C=100)

mode.fit(X_trains, y_trains)

y_pred = mode.predict(X_test_scaled)

accuracy_score(y_test, y_pred)

0.5544692737430168

In [14]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.70      0.73       443
           1       0.03      0.07      0.04        14
           2       0.38      0.35      0.36       197
           3       0.29      0.40      0.33         5
           4       0.18      0.28      0.22        57

    accuracy                           0.55       716
   macro avg       0.33      0.36      0.34       716
weighted avg       0.60      0.55      0.57       716

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

params = {
    'n_estimators': [100, 200, 300],
    'max_depth': [5, 10, 20, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'class_weight': ['balanced']
}

grid = GridSearchCV(RandomForestClassifier(random_state=42),
                    param_grid=params,
                    scoring='f1_macro',
                    cv=5,
                    n_jobs=-1)

grid.fit(X_trains, y_trains)
print("Best Params:", grid.best_params_)
print("Best F1 Macro:", grid.best_score_)

Best Params: {'class_weight': 'balanced', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}
Best F1 Macro: 0.8684277444023577

In [16]:
from sklearn.ensemble import RandomForestClassifier

mod = RandomForestClassifier(n_estimators=300, max_depth=None, min_samples_leaf=1, min_samples_split=2)           # 100, 5

mod.fit(X_trains, y_trains)

y_pred = mod.predict(X_test_scaled)

accuracy_score(y_test, y_pred)

0.6103351955307262

In [17]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.78      0.78       443
           1       0.08      0.14      0.10        14
           2       0.42      0.39      0.40       197
           3       1.00      0.40      0.57         5
           4       0.19      0.21      0.20        57

    accuracy                           0.61       716
   macro avg       0.49      0.38      0.41       716
weighted avg       0.62      0.61      0.61       716

In [18]:
from xgboost import XGBClassifier

xgb = XGBClassifier(random_state=42)
xgb.fit(X_trains, y_trains)
y_pred = xgb.predict(X_test_scaled)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.71      0.74       443
           1       0.05      0.07      0.06        14
           2       0.39      0.46      0.42       197
           3       1.00      1.00      1.00         5
           4       0.19      0.18      0.18        57

    accuracy                           0.59       716
   macro avg       0.48      0.48      0.48       716
weighted avg       0.61      0.59      0.60       716